.divider {
    width: 100%;
    height: 80px;
    background-color: #ffe2e0;
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.1), 
                inset 0px -5px 10px rgba(0, 0, 0, 0.1);
}


@media (max-width: 991.98px) {
    .divider{
        display: none;
    }

}
