.header {
    background-color: #565656;
    color: #f5f5f5;;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    transition: padding 0.2s ease;
    padding: 10px 0;
    box-sizing: content-box;
}


.header.shrink {
    padding: 0px 0;
}

header {
    flex-shrink: 1; /* Allow the header to shrink when needed */
    width: 100%; /* Ensure the header spans full width */
  }

.header-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.header.shrink:hover {
    padding: 10px 0;
    font-size: 1.3rem !important;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 0;
    padding: 2px;
    width: 100%; 
}

.nav-links li {
    display: inline-flex;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 1.3rem !important;
    font-weight: 600;
    transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1), color 0.3s ease-in-out;
    display: inline-block; /* This is necessary for transform to work smoothly */
}

.header.shrink .nav-links a {
    transform: scale(0.85); /* Shrink the text to 95% */
    color: #f5f5f5;; /* Optional: change the color when shrunk, if desired */
}

.header.shrink:hover .nav-links a {
    transform: scale(1);
  }

.nav-links a:hover {
    color: #ff8a7f
}

.nav-links a.active {
    color: #ff8a7f;
}

.nav-link.active {
    color: #ff8a7f
  }

.header.shrink .nav-link.active {
    color: #ff8a7f
}

.header.shrink .nav-links a.active {
    color: #ff8a7f
  }  

.header.shrink .nav-links a:hover {
    color: #ff8a7f
}

.hamburger-icon {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    z-index: 1010;
  }
  
  .hamburger-icon .line {
    height: 4px;
    background-color: #f5f5f5;
    width: 100%;
  }
  

  /* Show hamburger icon on small screens */
@media (max-width: 767.98px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        width: 60px;
        height: 60px;
        border-radius: 20px;
        margin-top: 20px;
        margin-left: auto;  /* Push the header to the right */
        margin-right: 20px;
        background-color: #1abc9c;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        z-index: 4;
    }

    .nav-links.open {
        display: flex;
        background-color: #1abc9c;
        margin-top: 30px;
        border-radius: 20px 20px 20px 20px;
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
        position: absolute;
        z-index: 3;
        transform: scale(1) !important;
    }

    .header-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hamburger-icon {
      display: flex;
    }

    .hamburger-icon .line {
        background-color: #f5f5f5;

    }
  
    .nav-links {
      display: none;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      background-color: #565656;
      position: absolute;
      top: 60px;
      left: 0;
      padding: 20px 0;
    }

    .nav-links .nav-link {
        font-size: 16px !important;
        font-weight: 600 !important;
      }
    
    .nav-links .nav-link.active {
        font-size: 16px !important;
        font-weight: 600 !important;
        color: #f5f5f5;
        text-decoration-line: underline;
    }

    .nav-links .nav-link:hover {
        color: #f5f5f5;
    }


    .nav-links li {
      display: block;
      text-align: center;
    }
  
    .nav-links a {
      font-size: 1.5rem;
      padding: 10px;
    }
  }

  @media (min-width: 768px) {
    .nav-links {
      display: flex;
      justify-content: center;
      gap: 40px;
    }
  
    .hamburger-icon {
      display: none;
    }
  }