@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0;
}

main {
  flex: 1;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.10);
  position: relative;
  z-index: 2;
  background-color: #f5f5f5;
}